body{
    background-image:url('a.png');
    width:100%;
    height:100%;
}
*{
    margin:0;
    padding:0;
}
.main{
    width:600px;
    height:1000px;
    background-color:white;
    align:center;
    margin:auto;
}
.main .c{
    margin-top:10px;
    display:inline-block;
    margin-left:30px;
}
#menu{
    margin-bottom:200px;
    color:white;
    width:600px;
    margin:auto;
    height:50px;
    font-style:'Arial';
    background-color:green;
    float:center;
    text-align:center;
}
#menu ul{
    text-align:center;
}
#menu ul li{
    align:center;
    float:left;
}
#menu ul ul{
    visibility: hidden;
    position:absolute;
}
#menu a{
    width:169px;
    display:block;
    padding:15px;
    background-color:rgba(0, 123, 0, 1);
    color:white;
}
#menu ul li:hover ul{
    visibility:visible;
}
#menu a:hover{
    color:whitesmoke;
}
#menu ul ul li {
    border-radius: 10px;
    float: none;
    border-bottom: solid 1px #ccc;
    margin-right: auto;
}

.input{
    height:50px;
    width:100%;
    position:relative;
    padding-top:20px;
    float:left;
    margin-left:350px;
}
.clear{
    clear:both;
}
.all{
}   
.d{
    background-color:rgba(0,0,255,0.5);
    width:inherit;
    border-radius:10px;
    text-align:center;
    font-weight: bold;
}
.c{
    width:155px;
    height:190px;
    border-radius:10px;
    border:2px solid red;
}
.b{
    width:inherit;
    font-weight: bold;
    text-align:center;
    color:black;
}
.a{
    border-radius:10px;
}
.a img{
    width:150;
    height:150px;
}
.footer{
    padding-top:20px;
    text-align:center;
    color:white;
    margin:auto;
    align:center;
    z-index:10;
    width:600px;
    height:40px;
    background-color:black;
}

